body{
    background-color:black;
    margin: 0;
    color: white;
}
header{
    background-color: black;
    width: 100%;
    height: 10vh;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav ul{
    display: flex;
    list-style: none;
    /* gap: 20px; */
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}
li{
    margin-right: 20px;
}
a{
    color: white;
    text-decoration: none;
}
main{
    width: 80%;
    background-color: black;
    margin: auto;
}
.chucnang{

}
.trendau img{
    width: 100%;
    margin-top: 20px;
}
.gioithieu img{
    border-radius: 0px 0px 10px 10px;
}
.gioithieuphim img{
    border-radius: 10px;
   
}
.quangcao img{
    margin-top: 30px;
    border-radius: 10px;
    width:100%;
}
.phim{
    margin-top: 30px;
    width: 100%;
    height: 100%;
}
.phim1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.phim1-ten img{
    border-radius: 10px;
    margin-right:20px;
    width:187px;
}
.ten{
    width:187px;
}
.danhmuc1{
    display: flex;
    justify-content: space-between;
}
.nd{
    width:187px;
    height: 80px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    display:flex;
    border-radius: 10px;
}
footer{
    width:80%;
    margin:auto;
}
.cuoitrang{
    margin-top:20px; 
    border-top:2px solid gray;
    display:flex;
}
.cuoitrang-noidung p img{
    width:110px;
}
.dichvu ul{
    list-style: none;
    margin-left: 30px;
}
.dichvu ul li{
    padding:10px;
}
.cuoicung{
    margin-top:20px; 
    border-top:2px solid gray;
    display:flex;
}
.ndcuoi{
    margin-top: 30px;
    width: 80%;
}
.gioithieuphim{
    position:relative;
}
.banner-2{
    position:absolute;
    bottom:0%;
    z-index: 10;
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width:100%;
   
}
.thongTin{
    display:flex;
    gap:10px; 
}
.trailer{
    border-radius: 25px;
    background-color:red;
    color:white;
    width:120px;
    height:50px;
}
.anh-1 img{
    height:280px;
}
.anh-2 img{
    height:110px;
}